
.icon-emo-sunglasses:before { content: '\e800'; } /* '' */
.icon-crown:before { content: '\e801'; } /* '' */
.icon-github:before { content: '\e802'; } /* '' */
.icon-html5:before { content: '\e803'; } /* '' */
.icon-html5-1:before { content: '\e804'; } /* '' */
.icon-friendfeed-rect:before { content: '\e805'; } /* '' */
.icon-discover:before { content: '\e806'; } /* '' */
.icon-videocam:before { content: '\e807'; } /* '' */
.icon-mobile:before { content: '\e808'; } /* '' */
.icon-skype:before { content: '\e809'; } /* '' */
.icon-mobile-1:before { content: '\e80a'; } /* '' */
.icon-mail-alt:before { content: '\e80b'; } /* '' */